:root {
  --c1: #FFD700;
  --c2: #180db6;
  --bg-color: #000;
  --text-color: #fff;
  --card-bg: linear-gradient(60deg, #180db6, #03e6ff);
}


.card-container {
  perspective: 50em;
}

.card {
  transform: rotateY(30deg) rotateX(15deg);
  transform-style: preserve-3d;
  transition: transform 1s;

}


.card:hover {
  transform: rotateY(-30deg) rotateX(-15deg);
}



.layer {
  background-image: var(--card-bg);
  box-shadow: 0 0 0.5em #000d inset;
}

.layer:last-child {
  box-shadow: 0 0 0.5em rgba(34, 0, 249, 0.936) inset, 0 0 5px #000000;
}

/* Media Query for Tablets and larger devices */
@media (min-width: 768px) {
  .cards {
    flex-direction: row;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}


